<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>用户列表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/xadmin/css/font.css}">
        <link rel="stylesheet" th:href="@{/xadmin//css/xadmin.css}">
        <script th:src="@{/xadmin/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/xadmin/js/xadmin.js}"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            </div>
        </script>
    
        <table id="demo" lay-filter="test"></table>
        
        
        
        <script>
          //加载模块：table，laddate,form,如果只加载一个模块，可以不填数组
          layui.use('table', function(){
              var table = layui.table;
    
              //第一个实例
              table.render({
                  elem: '#demo'
                  //,height: 312
                  ,url: '/user/list' //数据接口
                  ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                  //如果你想重新规定返回的数据格式，那么可以借助 response 参数
                  ,response: {
                      dataName: 'datas' //规定数据列表的字段名称，默认：data
                  }
                  ,page: true //开启分页
                  ,cols: [
                      [
                       {type:'checkbox',fixed:'left'}
                      ,{field: 'id', title: 'ID',  sort: true, fixed: 'left'}
                      ,{field: 'username', title: '用户名' }
                      ,{field: 'nickname', title: '角色名'}
                      ,{field: 'telephone', title: '手机号', sort: true}
                      ,{field: 'status', title: '状态', templet:function(d){
                          return d.status=='1'
                              ?'<span style="color: chocolate; font-weight:bold;font-size:20px; ">启动</span>'
                              :'<span style="color: #0000FF; font-weight:bold;font-size:20px; ">禁用</span>';
                          }}
                      ,{field: 'birthday', title: '生日'}
                      ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                      ]
                  ]
              });
    
          });
        </script>
    </body>
</html>